 {% extends '_master.html' %}
 
 {% block content %}
 <div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                    <h6 class="mb-0">Edit Product </h6>
                    
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Profit&Qt</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">in-stock</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Delete</th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                            </thead>
                            <tbody id="edit-product">
                                
                                <tr>
                                    
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            
                                            <div>
                                                <img
                                                src="{{ url_for('static', filename=product.collection.images[0]) }}"
                                                class="avatar avatar-sm me-3"
                                                alt="{{ product.collection.name }}"
                                                >
                                            </div>
                                            
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm previewName" id="previewName">{{ product.collection.name }}</h6>
                                                <p class="text-xs text-secondary mb-0">
                                                    {{ product.collection.uuid }}
                                                </p>
                                            </div>
                                            
                                        </div>
                                    </td>
                                    
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0 previewPrice">
                                            ₹{{ product.collection.price }}
                                        </p>
                                        
                                        <p class="text-xs text-secondary mb-0 ">
                                            Qty: <span clas="previewQuantity" >{{ product.collection.quantity }}</span>
                                        </p>
                                    </td>
                                    
                                    <td class="align-middle text-center text-sm">
                                        {% if product.collection.status %}
                                        <span class="badge badge-sm bg-gradient-success">
                                            In-Live
                                        </span>
                                        {% else %}
                                        <span class="badge badge-sm bg-gradient-secondary">
                                            Non-Live
                                        </span>
                                        {% endif %}
                                    </td>
                                    
                                    <td class="align-middle text-center">
                                        
                                        <div class="d-flex justify-content-center align-items-center h-100">
                                            
                                            <div class="form-check form-switch m-0">
                                                
                                                <input
                                                class="form-check-input product.collection-status"
                                                type="checkbox"
                                                data-uuid="{{ product.collection.uuid }}"
                                                {% if product.collection.status %}checked{% endif %}
                                                >
                                                
                                            </div>
                                            
                                        </div>
                                        
                                    </td>
                                    
                                    <td class="align-middle text-center">
                                        <button type="button"
                                        id="{{ product.collection.uuid}}"
                                        class="btn btn-link btn-delete text-danger p-2"
                                        title="Delete">
                                        <i class="fas fa-trash-alt text-lg"></i>
                                    </button>
                                </td>
                                
                                
                                
                                
                            </tr>
                            
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-body">
                
                
                
                <h6 class="text-sm">Upload Images</h6>
                <p class="text-xs text-secondary mb-2">Maximum 7 images allowed</p>
                
                <div class="image-grid">
                    
                    <!-- Upload Box -->
                    <div class="drop-area " id="dropArea">
                        <input type="file" id="images" multiple accept="image/*">
                        
                        <div class="upload-content">
                            <h4>Upload Images</h4>
                            <p>Drag & drop here</p>
                            <input type="file" id="images" multiple accept="image/*">
                            
                            <label for="images" id="chooseBtn" class="choose-btn">
                                Choose
                            </label>
                        </div>
                    </div>
                    
                    <div id="gallery">
                    {% for image in product.collection.images %}
                    <div class="image-card existing">
                        <button type="button" class="remove-btn">×</button>
                        <img src="{{ url_for('static', filename=image) }}" alt="Image"> 
                        
                    </div>
                    {% endfor %}
                    </div>
                </div>
                <div class="text-end mt-4">
                        <button  class="btn bg-gradient-primary mb-0" id="saveImagesBtn">
                            Save Photos
                        </button>
                    </div>
                
            </div>
        </div>
        
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-body">
                    <form id="EditProductForm" enctype="multipart/form-data">
                        <h6 class="text-sm">Live Product Preview</h6>
                        <p class="text-xs text-secondary mb-0" id="uuid" data-uuid = {{product.collection.uuid}}>{{ product.collection.uuid }}</p>
                        
                        <div class="card product-preview-card shadow-none border mt-3">
                            <div class="card-body">
                                
                                <div class="product-preview-box">
                                    
                                    <div class="main-image-box previewImage">
                                        <span class="discount-badge edit-icon" id="previewDisBadge">
                                            <span  >{{product.collection.disBadge['text']}}</span>
                                            <i class="fas fa-pen ms-1 " style="cursor:pointer;"></i>
                                        </span>
                                        
                                        <span class="stock-badge edit-icon {{ product.collection.stockBadge['color'] }}"
                                        id="previewStockBadge">
                                        {{ product.collection.stockBadge['text'] }}
                                        <i class="fas fa-pen ms-1" style="cursor:pointer;"></i>
                                    </span>
                                    
                                    <img id="imageHolder"  src="{{ url_for('static', filename=product.collection.images[0]) }}" alt="No Image Available">
                                    
                                    <i id="imageHolder" class="fas fa-pen position-absolute top-0 end-0 m-2 edit-icon"
                                    style="cursor:pointer;"></i>
                                </div>
                                
                                <div class="info-section">
                                    
                                    <div class="preview-header">
                                        <span class="category-badge" id="previewCategory">
                                            Fashion
                                            
                                        </span>
                                        
                                        <span class="live-badge">Live Preview</span>
                                    </div>
                                    
                                    <h4 id="previewName" class="edit-icon previewName">
                                        {{product.collection.name}}
                                        <i class="fas fa-pen ms-2" style="cursor:pointer;"></i>
                                    </h4>
                                    
                                    <p id="previewDescription" class="edit-icon">
                                        {{product.collection.description}}
                                        <i class="fas fa-pen ms-2" style="cursor:pointer;"></i>
                                    </p>
                                    
                                    <div class="price-box  edit-icon " id="previewPrices">
                                        <h3>
                                            ₹<span id="previewPrice" class="previewPrice">{{product.collection.price}}</span>
                                            
                                        </h3>
                                        
                                        <span class="old-price">
                                            ₹<span id="previewOldPrice">0</span>
                                            
                                        </span>
                                        <i class="fas fa-pen ms-2" style="cursor:pointer;"></i>
                                    </div>
                                    
                                    <div class="preview-meta edit-icon " id="previewQtys">
                                        <span>
                                            Qty: <b id="previewQuantity" class="previewQuantity">{{product.collection.quantity}}</b>
                                            <i class="fas fa-pen ms-1" style="cursor:pointer;"></i>
                                        </span>
                                        
                                        
                                    </div>
                                    
                                    
                                    
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                    
                    
                    
                    
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}

