<div id="tagContainer">
    {%for tag in tags%}
        <div class="d-flex justify-content-between align-items-center mb-2">
            <span class="{{tag['color']}} fw-bold">{{tag['text']}}</span>

            <button class="btn btn-link text-danger delete-tag p-0">
                <i class="fas fa-trash"></i>
            </button>
        </div>

    {% endfor %}

</div>

<hr>

<div class="row g-2">
    <div class="col-md-6">
        <input type="text" class="form-control" id="tagText" placeholder="Tag name">
    </div>

    <div class="col-md-4">
        <select class="form-select" id="tagColor">
            <option value="text-primary">Primary</option>
            <option value="text-success">Success</option>
            <option value="text-danger">Danger</option>
            <option value="text-warning">Warning</option>
            <option value="text-info">Info</option>
            <option value="text-dark">Dark</option>
            <option value="text-secondary">Secondary</option>
        </select>
    </div>

    <div class="col-md-2">
        <button class="btn bg-gradient-primary w-100" id="addTag">
            <i class="fas fa-plus"></i>
        </button>
    </div>
</div>