<tr>
    
    <td>
        <div class="d-flex px-2 py-1">
            
            <div>
                <img
                src="{{ url_for('static', filename=product.collection.images[0]) }}"
                class="avatar avatar-sm me-3"
                alt="{{ product.collection.name }}"
                >
            </div>
            
            <div class="d-flex flex-column justify-content-center">
                <h6 class="mb-0 text-sm">{{ product.collection.name }}</h6>
                <p class="text-xs text-secondary mb-0">
                    {{ product.collection.uuid }}
                </p>
            </div>
            
        </div>
    </td>
    
    <td>
        <p class="text-xs font-weight-bold mb-0">
            ₹{{ product.collection.price }}
        </p>
        
        <p class="text-xs text-secondary mb-0">
            Qty: {{ product.collection.quantity }}
        </p>
    </td>
    
    <td class="align-middle text-center text-sm">
        {% if product.collection.status == "true" %}
        <span class="badge badge-sm bg-gradient-success">
            In-Live
        </span>
        {% else %}
        <span class="badge badge-sm bg-gradient-secondary">
            Non-Live
        </span>
        {% endif %}
    </td>
     
    <td class="align-middle text-center">
        
        <div class="d-flex justify-content-center align-items-center h-100">
            
            <div class="form-check form-switch m-0">
                
                <input
                class="form-check-input product-status"
                type="checkbox"
                data-uuid="{{ product.collection.uuid }}"
                {% if product.collection.status %}checked{% endif %}
                >
                
            </div>
            
        </div>
        
    </td>
    
    <td class="align-middle text-center">
        <button type="button"
                id="{{ product.uuid}}"
                class="btn btn-link btn-delete text-danger p-2"
                title="Delete">
             <i class="fas fa-trash-alt text-lg"></i>
        </button>
    </td>
    <td class="align-middle">
        <a
        href="/api/v1/product/{{ product.collection.uuid }}"
        class="text-secondary font-weight-bold text-xs"
        >
        Edit
    </a>
</td>
